/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */



/*@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);*/

body {
/*    font-size: 20px;*/
    color: #212529;
    font-family: Lora,'Times New Roman',serif;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 40px; 
   font-style: italic;
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.bg-primary.text-white {
    background-image:     linear-gradient(
        rgba(221, 136, 38, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgraound-size:cover;
    /* background-position-y: -120px; */
    /* padding-bottom: 200px; */
}

/* div.container.text-center {
    height: 320px;
} */

.typewrite {
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 68px;
    padding-top: 5px;
}

#slideshow {
    /* margin: 80px auto; */
    position: relative;
    /* width: 240px; */
    height: 150px;
    /* padding: 10px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

#socialmedia {
    position: relative;
}

#about-nav {
    color:white;
}

#education-nav {
    color:white;
}

#experience-nav {
    color:white;
}

#contact-nav {
    color:white;
}

.navBar-dark {
    background-color: #343a40;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;

}

blockquote {
  display: block;
  color: #3d748f;
  font-family: 'Sanchez', serif;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 2em 0 0 0;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;

}

.item.row {
    margin-bottom: 5em;
}

.edu-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

/*#edu {
    padding-top: 50px;
}*/


.lead.school {
    display: block;
    /*margin-bottom: 0.15em;*/
    font-family: "Comic Sans MS", cursive, sans-serif;
}  

.sch-degree {
    color: #009933;
    font-weight: 600;
    display: block;

}

.sch-des {
    display: block;
}

.sch-location {
    font-weight: 600;
    display: block;
    margin-bottom: 1em;
}

.lead.project-title {
    font-weight: 600;
}

.project-desc { 
    margin: 0; 
    padding-left: 15px; 
}

a.project-link {
    display: block;
    margin-top: 8px;
}


/* .typewrite:after { /* this is the lower border 
    content:"";
    display:block;
    width: 8em;
    max-width:70%;
    border-bottom: 5px solid purple;
    margin: auto;
} */

/*.typewrite:before { /* this is the upper border 
    content:"";
    display:block;
    width: 10em;
    max-width:70%;
    border-top: 5px solid purple;
    margin: auto;
}*/


