/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

.bg-primary.text-white {
    background-image:     linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgraound-size:cover;
    /* background-position-y: -120px; */
    /* padding-bottom: 200px; */
}

/* div.container.text-center {
    height: 320px;
} */

.typewrite {
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 68px;
    padding-top: 5px;
}

#slideshow {
    /* margin: 80px auto; */
    position: relative;
    /* width: 240px; */
    height: 150px;
    /* padding: 10px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  #socialmedia {
      position: relative;
  }

/* .typewrite:after { /* this is the lower border 
    content:"";
    display:block;
    width: 8em;
    max-width:70%;
    border-bottom: 5px solid purple;
    margin: auto;
} */

/*.typewrite:before { /* this is the upper border 
    content:"";
    display:block;
    width: 10em;
    max-width:70%;
    border-top: 5px solid purple;
    margin: auto;
}*/


